.App {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding-top: 50px;
  background-color: azure;
}

.app-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.tittle {
  font-size: 42px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 15%;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.todo-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 20px;
}

.todo-list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
}